.title-box {
  display: flex;
  justify-content: space-between;
  padding: 8px 8px 8px 24px;
  border-bottom: 1px solid rgb(229, 229, 229);
  // margin-bottom: -1px;
  // position: absolute;
  width: 100%;
  background-color: #fff;
  z-index: 16;

  .title-str-box {
    flex: 1;

    .title-str {
      font-size: 20px;
      font-weight: bold;
      color: black;
    }

    .title-describe {
      color: black;
    }
  }

}